<{block name=head}>
	<title>已添加报名项目</title>
	<style type="text/css">
	           	table th, table td { 
			text-align: center !important;
		}
	</style>
	
<{/block}>

<{block name=body}>
<div class="col-md-2"></div>
<div class="col-md-8">
<table class="table table-hover table-bordered">	
		<tr>
			<th>序号</th>
			<th>报名项目</th>
			<th>内容字数</th>
		</tr>
	
		<{foreach $datas as $data}>
			<tr>
				<{foreach $data as $key=>$value}>
					<td>
						<{$value}>
					</td>
				<{/foreach}>
			</tr>
		<{/foreach}>
</table>
<a href="<{$addsurvey}>">继续添加</a>

</div>
<div class="col-md-2"></div>
<{/block}>
